header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d6bf;
    padding: 20px 20px;
    margin-bottom: 100px; 
    
}

#divBuscar{
    background-color:#a6eff1;
    border:solid 2px #a6eff1;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBuscar{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBuscar{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#a6eff1;
  }
  
  #divBuscar img{
    float:left;
  }
  

.container{
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    width: 100px;
    height: 250px;
    padding: 20px;
    justify-content:space-around;
    align-items:center;
    display: inline-block;
    margin-bottom: 200px; 
}

.container1{
    height: 200px;
    width: 200px;
    background-color: green;
    display: inline-block;
    margin-bottom: 20px;
     
}

.container2{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin-bottom: 20px;
    align-self: start;
   
    
}

.container3{
    height: 200px;
    width: 200px;
    background-color: orange;
    display: inline-block;
    margin-bottom: 20px;
 
   
}


.container4{
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-bottom: 20px;
    
}

.container5{
    height: 200px;
    width: 200px;
    background-color: pink;
    display: inline-block;
    margin-bottom: 20px;
    
}

.container6{
    height: 200px;
    width: 200px;
    background-color: gray;
    display: inline-block;
    margin-bottom: 20px;
    
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d6bf;
    padding: 20px 80px;
    
}